.flex-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    background-color: rgb(217, 129, 94);
    height: 300px;
    align-items: center;
  }
  
 
  h1 {
    text-align: center;
    color: #320f8b;
  }
  

  .flex-container > div {
    background-color: #320f8b;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
  }
  

  #div1 {
    background-color: aqua;
    color: #320f8b;
    align-self: baseline;
    flex-grow: 2;
    flex-shrink: 1;
  }
  
  #div2 {
    background-color: burlywood;
    color: #320f8b;
    align-self: flex-end;
    flex-grow: 1;
    flex-basis: 200px;
    
  }
  
  #div3 {
    background-color: thistle;
    color: #320f8b;
    align-self: flex-end;
    flex-grow: 1;
    order: -3;

  }
  
  #div4 {
    background-color: green;
    color: #320f8b;
    align-self: flex-start;
    flex-grow: 1;
    order: -3;
  }
  
  #div5 {
    background-color: sandybrown;
    color: #004e1d;
    align-self: last baseline;
    flex-grow: 2;
    flex-shrink: -1;
    order: -2;
  }
  
  #div6 {
    background-color: darkgoldenrod;
    color: #320f8b;
    align-self:safe;
    flex-grow: 1;
  }
  